@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pritey Mehta</h1>
    <p class="lead">This project show you how to use procedure for paging for fetch records from database in minimal time.</p>
    <p><a href="https://github.com/priteymehta/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>